form{
  margin-left: 30px;

  a{
    margin-left: 15px;
  }
}

.post-area{
  height: 400px;
  min-width: 500px;
}

.btn{
  cursor: pointer;
}

.error{
  color: #bb2d27;
}

.warning{
  color: #7a8512;
}